
.container{
    background-color:black;
    width:100%;
    height:80px;
}

.header-kiri img{
    width:100px;
    height:50px;
    float:left;
    margin:10px 0 10px 10px;
}
.header-kanan{
    float:right;
    margin:10px 10px 10px 0;
}
.icon{
    width:80px;
    height:80px;
    float:right;
    display:none;
}

.fa{
    margin:100px;
}
.menu-icon{
    color:white;
}

.main{
    width:100%;
    height:700px;
    background-image:url(https://niindo.com/wp-content/uploads/2019/09/belajar-bahasa-jepang-otodidak.png);
    background-size:cover;
    color:grey;
    text-align:center;
    opacity:0.9;
}

.main h1{
    font-size:65px;
    letter-spacing:5px;
    padding-top:250px;
    opacity:1;
    margin-bottom:10px;
}
.main h2{
    font-size:45px;
    letter-spacing:5px;
    opacity:1;
}
.main p{
    font-size:20px;
    opacity:1;
    margin-bottom:10px;
}
.btn{
    margin:20px 0;
    padding:20px 10px;
    color:white;
}
.btn:hover{
    opacity:0.6;
}

.btn p{
    margin:20px 0;
}

.daftar{
    background-color: #239b76;

}
.login{
    background-color: #3b5998;
}

.head-main{
    padding-top:80px;
    padding-bottom:50px;
    color:#5f5d60;
    text-align:center;
}
.head-main h2{
    font-weight:normal;
}
.level img{
    width:100px;
    height:100px;
}
.level{
    width:20%;
    height:100px;
    float:left;
    text-align:center;
    margin-bottom:300px;
}
.level p{
    font-size:15px;
}

.main-pesan{
    text-align:center;
    margin-top:100px;
    margin-bottom:200px;
}

.pesan{
    padding:15px 40px;
    background-color:#5dca88;
    cursor:pointer;
    box-shadow:0 7px #1a7940;
}
.head-pesan h2{
    margin-bottom:30px;
}
.pesan:active{
    position:relative;
    top:7px;
    box-shadow:none;
}

@media all and (max-width:670px){
  .main h1{
    font-size:40px;
    letter-spacing:2px;
    padding-top:10px;
    opacity:1;
    margin-bottom:10px;
  }
  .main h2{
    font-size:40px;
    letter-spacing:2px;
    opacity:1;
  }
  .main p{
    font-size:20px;
    opacity:1;
    margin-bottom:10px;
  }
  .btn p{
    margin:30px 0;
    color:grey;
    
  }
  
  .header-kanan{
    display:none;
  }
  .icon{
    display:block;
  }
  .btn{
    width:100%;
  }
  .daftar{
    margin-bottom:10px;
  }
  .login{
    margin-bottom:10px;
  }
  .level{
    width:100%;
  }
  .main-add h2{
    margin-top:0px;
  }
}
